<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ========== HEAD ========== -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <title>New Adherent</title>
  </head>
  <body>
    <!-- ========== Body ========== -->

    <!-- ========== Bande Title ========== -->
    <div class="bande_horizontale">
      <div class="bande_horizontale_2">
        <h3 class="lead font-monospace title-head-bar">DataBase Formulaire - Ajout Adherent <i class="bi bi-person-plus-fill"></i></h3>
      </div>
    </div>

    <br />
    <br />

    <!-- ========== Formulaire Center ========== -->
    <form method="POST" class="d-flex justify-content-center font-monospace">
      <!-- ========== Formulaire ========== -->
      <div class="row g-3 container align-center">
        <!-- ===== UserName ===== -->
        <div class="input-group">
          <div class="input-group-text">@</div>
          <input type="text" name="username" class="form-control" id="autoSizingInputGroup" placeholder="Username" />
        </div>
        <!-- ===== Name ===== -->
        <div class="input-group col">
          <div class="input-group-text">Nom</div>
          <input type="text" name="nom" class="form-control" placeholder="Kauffmant" aria-label="nom" />
        </div>
        <!-- ===== Prenom ===== -->
        <div class="input-group col">
          <div class="input-group-text">Prenom</div>
          <input type="text" name="prenom" class="form-control" placeholder="Thomas" aria-label="Prenom" />
        </div>
        <!-- ===== Age ===== -->
        <div class="input-group col">
          <div class="input-group-text">Age</div>
          <input type="number" name="age" class="form-control" placeholder="18" aria-label="Age" />
        </div>
      </div>
      <!-- ===== Button ===== -->
      <div class="d-flex justify-content-center">
        <button type="submit" name="submit" class="btn btn-light font-monospace"><i class="bi bi-person-plus-fill"></i> Submit</button>
      </div>
    </form>

    <a href="index.html" class="row g-2 btn btn-light return-button" role="button"><i class="bi bi-arrow-left-circle-fill"></i></a>

    <br />
    <br />
  </body>
</html>
