<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <title>All Adherent</title>
  </head>
  <body>
    <!-- ========== Bande Title ========== -->
    <div class="bande_horizontale">
      <div class="bande_horizontale_2">
        <h3 class="lead font-monospace title-head-bar">DataBase Formulaire - All Adherent <i class="bi bi-person-plus-fill"></i></h3>
      </div>
    </div>
    <br />
    <div class="row-cols-2 bg_all font-monospace">
      <table>
        <tr>
          <th>ID:</th>
          <th>Name:</th>
          <th>Prenom:</th>
          <th>Age:</th>
          <th>UserName:</th>
        </tr>
        {% for item in items %}
        <tr>
          <td>{{item[0]}}</td>
          <td>{{item[1]}}</td>
          <td>{{item[2]}}</td>
          <td>{{item[3]}}</td>
          <td>{{item[4]}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <a href="index.html" class="row g-2 btn btn-light return-button" role="button"><i class="bi bi-arrow-left-circle-fill"></i></a>
  </body>
</html>
