<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <title>All Adherent</title>
</head>
<body>
    <!-- ========== Bande Title ========== -->
    <div class="bande_horizontale">
        <div class="bande_horizontale_2">
            <h3 class="lead font-monospace title-head-bar">Error... <i class="bi bi-dash-circle"></i></i></h3>
        </div>
    </div>
    <br>

    <div class="row-cols-2 bg_all font-monospace">
    <p>Error, please Try again !</p>
    </div>

    <a href="index.html" class="row g-2 btn btn-light return-button" role="button"><i class="bi bi-arrow-left-circle-fill"></i></a>

</body>
</html>