<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ========== HEAD ========== -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <title>Welcome</title>
  </head>
  <body>
    <!-- ========== Body ========== -->

    <!-- ========== Bande Title ========== -->
    <div class="bande_horizontale">
      <div class="bande_horizontale_2">
        <h3 class="lead font-monospace title-head-bar">Welcome</h3>
      </div>
    </div>

    <br />

    <nav class="navbar navbar-dark navigation font-monospace">
      <!-- Navbar content -->
      <form class="container-fluid justify-content-start justify-content-center">
          <div class="test pe-sm-1 " style="background-color: #e3f2fd">
            <a href="allAdh.html"><button class="btn btn-dark me-2 font-monospace opacity-75 index-navbar" type="button"><i class="bi bi-calendar-event"></i> All Adherent</button></a>
            <a href="allParticipant.html"><button class="btn btn-dark me-2 font-monospace opacity-75 index-navbar" type="button"><i class="bi bi-calendar-event"></i> All Participation</button></a>
            <a href="allRencontre.html"><button class="btn btn-dark me-2 font-monospace opacity-75 index-navbar" type="button"><i class="bi bi-calendar-event"></i> All Rencontre</button></a>
          </div>
      </form>
    </nav>
    <br>
    <nav class="navbar navbar-dark navigation font-monospace">
      <!-- Navbar content -->
      <form class="container-fluid justify-content-start justify-content-center">
          <div class="test pe-sm-1 " style="background-color: #e3f2fd">
            <a href="addAdh.html"><button class="btn btn-dark me-2 font-monospace opacity-75 index-navbar" type="button"><i class="bi bi-person-plus-fill"></i> Add Adherent</button></a>
            <a href="supprAdh.html"><button class="btn btn-dark me-2 font-monospace opacity-75 index-navbar" type="button"><i class="bi bi-person-dash-fill"></i> Suppr Adherent</button></a>
            <a href="addParticipation.html"><button class="btn btn-dark me-2 font-monospace opacity-75 index-navbar" type="button"><i class="bi bi-plus-square-fill"></i> Add Participation</button></a>
            <a href="supprParticipation.html"><button class="btn btn-dark me-2 font-monospace opacity-75 index-navbar" type="button"><i class="bi bi-dash-square-fill"></i> Delete Participation</button></a>
            <a href="addRencontre.html"><button class="btn btn-dark me-2 font-monospace opacity-75 index-navbar" type="button"><i class="bi bi-calendar-plus-fill"></i> Add Rencontre</button></a>
            <a href="supprRencontre.html"><button class="btn btn-dark me-2 font-monospace opacity-75 index-navbar" type="button"><i class="bi bi-calendar-minus-fill"></i> Delete Rencontre</button></a>
          </div>
      </form>
    </nav>
    <br />
  </body>
</html>




